@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container{
	width: 100%;
	margin: 0 auto;
}
/***********************HEADER*/
header {
	float: left;
	margin: 0;
	padding-top:38px;
	padding-bottom: 0px;
	width: 100%;

}
#title {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;

}

#title span{
color: #77a466;
}

#nav {
		border-bottom: 3px solid #77a466;
		padding: 46px 0;
		width: 100%
}
#nav ul {
	margin: 0;
	padding: 0;
}
#nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	list-style: none;
}
#nav ul li a{
	text-decoration: none;
	color:#77a466;
}
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
/*********************************TABLET*/
@media (min-width:768px) {

}
/*******************************DESKTOP*/
@media (min-width:940px) {
#title {
	width: 400px;
	margin:0;
}
#nav {
	width: 400px;
	margin:0;
}
#nav ul li {
	display: inline;
}
}
